.destButton {
  background: none;
  border: none;
  outline: none;
  margin: 2em;
  font-size: 25px;
  color: #c74066;
  padding: 0.25em 1em;
  position: relative;
  cursor: pointer;
}
.destButton::after {
  content: '';
  width: 0;
  height: 1px;
  background: #c74066;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s 0.1s ease-in-out;
}
.destButton:hover::after {
  width: 100%;
}

/* Active */

.destButton.active {
  color: #4e40c7;
}
.destButton.active::after {
  background: #4e40c7;
}
